/* styles for my resume */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* paragraph elements */
.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* contact info */
.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* container for *
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

/* name */
.name {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #33485e;
  text-align: center;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* title */
.title {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 20px;
}

/* section titles (experience/skills, etc.) */
.sectionheader {
  color: white;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  min-width: 300px;
}


/* job titles */
.jobtitle {
  font-weight: 600;
  font-size: 2em;
}

/* organizations */
.organization {
  font-weight: 400;
  font-size: 1.5em;
}

/* job dates */
.date {
  font-weight: 400px;
  font-style: italic;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  bottom-margin: 30px;
}
