/* styles for my resume */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* container for
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

/* name */
.name {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #33485e;
  text-align: center;
  border-bottom: 2px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* title */
strong {
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5em;
}

/* section titles (experience/skills, etc.) */
.sectionheader {
  color: white;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  min-width: 300px;
}

h2 {
  color: white;
  text-transform: uppercase;
  background-color: #33485e;
}

/* job titles */
h3 {
  font-weight: 600;
  font-size: 2em;
}

/* job dates */
h5 {
  font-weight: 400px;
  font-style: italic;
  font-size: 1em;
}
